OPENAI_API_KEY=
AUTO_BLOG_MODEL=
AUTO_BLOG_BASE_URL=https://josetteperrone.com
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_REQUIRED=true
RECAPTCHA_MIN_SCORE=0.5
BOOKING_TO_EMAIL=
BOOKING_FROM_EMAIL=
BOOKING_FROM_NAME=Josette Perrone Speaking
RESEND_API_KEY=
SENDGRID_API_KEY=
BOOKING_WEBHOOK_URL=
BOOKING_WEBHOOK_SECRET=
POSTHOG_PROJECT_API_KEY=
POSTHOG_PROJECT_ID=
POSTHOG_HOST=https://us.i.posthog.com
